<!DOCTYPE html>

<html>
    <head>
        
        <title>
            <%= title %>
        </title>
   
      <link rel="stylesheet" href="/css/layout.css">
      <link rel="stylesheet" href="/css/header.css">
      <link rel="stylesheet" href="/css/footer.css">
      <%- style %> 
    </head>
    <body>
      <!-- <header id="layout-header"> -->
        <%- include('_header.ejs') %> 
     
       

     <!-- Here will be variable part for layout -->
     <main id="layout-main">
      <%- body %> 

     </main>
     

      <%- include('_footer.ejs') %> 
    
        
    </body>
</html>