<!DOCTYPE html>

<html>
    <head>
        
        <title>
            <%= title %>
        </title>
   
      <link rel="stylesheet" href="/css/layout.css">
      <%- style %> 
    </head>
    <body>

       <%- include('_header.ejs') %> 

     <!-- Here will be variable part for layout -->
     <%- body %> 

      <%- include('_footer.ejs') %> 
    
        
    </body>
</html>